.box {
    max-width: 80%;
    padding: 10%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .title-child {
        max-width: 300px;
        margin: 50px;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        font-size: 24px;
        color: grey;
        justify-content: center;
        
        p {
            margin: 20px;
        }

        .todo {
            padding: 0px 7px;
            background-color: lightblue;
            border-radius: 50px;
        }
    }
}

.active {
    border-bottom: 1px blue solid;
    color: darkgrey;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 5%;

    .drag-item {
        flex: 75%;
        width: 100%;

        input {
            width: 96%;
            border: none;
            // background-color: lightgrey;
            cursor: move;
        }
    }

    input::placeholder {
        padding-left: 15px;
    }
}

#done {
    text-decoration: line-through;
}